.map-container {
  width: 100%;
  height: 100%;
}

.stacked-container {
  position: absolute;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.settings-container {
  width: 20rem;
  height: 20rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.map-info {
  width: 20rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 1rem;
}

